.Sardine-Container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: green;
  height: 100vh;
}

.Sardine-img {
  margin-left: auto;
  margin-right: auto;
}

.Sardine-heading {
  position: absolute;
  top: 50%;
}
